<div class="masthead clearfix">
    <div class="inner">
        <h1 class="masthead-brand">The News Live</h1>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active" id="home-nav"><a ng-href="#/home-view">Home</a></li>
                <li><a ng-href="#/article-view">News</a></li>
                <li><a ng-href="#/dashboard-view">Dashboard</a></li>
            </ul>
        </nav>
    </div>
</div>