<div class="row">
    <div class="col-sm-8 news-main">
        <p>
            <h3>Articles Belonging to evenryone</h3>Below is a list of all published articles to date
        </p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 news-sidebar">
        <div class="sidebar-module">
            <h4>Most Liked Articles</h4>
            <p>Article 1</p>
            <p>Article 2</p>
        </div>
    </div>
</div>

<article-list articles="articles" numpages="numpages"></article-list>